body{
    margin: 0;
    padding: 0;
}

#video-grid{
    display:flex;
    justify-content: space-evenly;
    border-radius: 5px;
}

video{
    height: 300px;
    width: 400px;
    object-fit: cover;
    border-radius: 8px;
    border-style: solid;
    border-width: medium;
    border-color: #005768;
    margin: 2px;
    
}

video:hover{
    border-color: rgb(0, 156, 104);
}

.main {
    height: 100vh;
    display: flex;
    
}

.main__left {
    display: none;
    flex: 0.8;
    flex-direction: column;
}

.main__right {
    display: flex;
    flex-direction: column;
    background-color: #085c6d;
    flex: 1;
}

.main__videos {
    flex-grow: 1;
    background-color: #d4e9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}


.main__control {
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    background-color:#085c6d;
    padding: 5px;
}


.main__control_block {
    display: flex;
}

.main__control_button {
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px 10px;
    min-width: 80px;
    cursor: pointer;
}

.main__control_button i{
    font-size: 22px;
}

.main__control_button:hover{
    background-color: #dc354542;
    border-radius: 5px;
}

.main__chat_header {
    padding-top: 5px;
    color: #F5F5F5;
    text-align: center;
}

.main__chat__window {
    flex-grow: 1;
    overflow-y: auto;
    background-color: #d4e9fa;
    padding-top: 10px;
}

.messages{
    color: black;
    list-style: none;
}

.main__message_container {
    padding: 10.3PX;
    display: flex;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: #ffffff;
}

.leave_meeting {
    color: #ffc107
}

.unmute, .stop {
    color: #CC3B33;
}

h6{
    color: white;
}

.start_video_call{
    display: flex;
}

.message{
    padding: 5px;
}

button{
    font-weight: 600;
    margin-right: 0.2rem;
    background: #085c6d;
    color: #ffffff;
    border-radius: 5px;
    border-style: solid;
    border-color: var(--bs-white);
    cursor: pointer;
    margin-left: 5px;
}

button:hover{
    background-color: #dc354542;
    border-radius: 5px;
}
::placeholder { 
    color: #ffffffb3;
    opacity: 1; 
  }

